projectName/db.sqlite3
projectName/projectName/__pycache__/__init__.cpython-310.pyc
projectName/projectName/__pycache__/settings.cpython-310.pyc
projectName/projectName/__pycache__/wsgi.cpython-310.pyc
projectName/projectName/__pycache__/urls.cpython-310.pyc
