
backend/db.sqlite3
backend/backend/__pycache__/__init__.cpython-310.pyc
backend/backend/__pycache__/settings.cpython-310.pyc
backend/backend/__pycache__/urls.cpython-310.pyc
backend/backend/__pycache__/wsgi.cpython-310.pyc

server/.ipynb_checkpoints/test-checkpoint.ipynb
